.chats-ctx {
  height: 100%;
  /* background-color: fuchsia; */
  padding: 1rem;
  overflow-y: scroll;
}
/* Chat */
.chat-ctx {
  display: flex;
  align-items: center;
  height: 80px;
  border-top: 1px solid #323332;
  padding: 0 1rem;
}
.chat-ctx input {
  background-color: transparent;
  border: none;
  width: 100%;
  outline: none;
  color: white;
}
/* Box */
.chat-box {
  display: flex;
  margin-bottom: 16px;
}
.chat-meta {
  display: flex;
  flex-grow: 3;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1rem;
}
.chat-time {
  color: #888888;
  font-size: 10px;
}
.chat-name {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: white;
  font-weight: 500;
}
.chat-badge {
  padding: 2px;
  background: #323332;
  border: 1px solid #2f6eeb;
  border-radius: 4px;
  font-size: 10px;
  font-family: Inter;
  margin: 0 5px;
}
.mod-badge {
  border: 1px solid #323332;
}
.chat-text {
  color: #eaeae9;
  font-size: 15px;
  word-break: break-all;
  min-width: 180px;
  max-width: 220px;
  margin-top: 5px;
}
.role-badge {
  background: #323332;
  border: 1px solid #2f80ff;
  border-radius: 4px;
  padding: 2px 4px 3px;
  font-size: 10px;
  margin: 0 5px;
}
.chat-none {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.chat-none-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 13px;
}

.chat-none-image {
  background-color: #323332;
  border-radius: 50%;
  padding: 1em 1em 1em 1em;
}

@media screen and (max-width: 1032px) {
  .chat-none-image {
    display: none;
    background-color: #323332;
    border-radius: 50%;
    padding: 1em 1em 1em 1em;
  }
}
