.part-ctx {
  height: 100%;
  /* background-color: fuchsia; */
  padding: 1rem;
  overflow-y: scroll;
}
.part-role {
  font-size: 15px;
  color: white;
}
.part-box {
  display: flex;
  flex-grow: 3;
  align-items: center;
  font-size: 15px;
  color: white;
  margin: 1rem 0;
}
.part-name {
  width: 180px;
  margin-left: 1rem;
}
.divider {
  height: 1px;
  background-color: #323232;
  margin: 2rem 0;
}
