.container {
  display: flex;
  gap: 1rem;
}
.video-container {
  position: relative;
  width: 290px;
  height: 290px;
  border-radius: 8px;
}

.video-container video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.btn {
  background: #702ec2;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  font-weight: 500;
  font-size: 15px;
  color: #ffffff;
  gap: 0.5rem;
  cursor: pointer;
  font-family: Inter;
}

.btn-wrapper {
  display: flex;
}

.back-btn {
  background: #444443;
  margin-right: 1rem;
}

.info {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #eaeae9;
  gap: 5px;
}

.wrapper {
  width: 320px;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  justify-content: space-between;
}

.head-text {
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  color: #ffffff;
  margin: 0;
}
.sub-text {
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #999a99;
  margin: 0;
}

.setting-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  align-items: center;
}

.setting-label {
  font-size: 15px;
  color: white;
}

@media (max-width: 700px) {
  .container {
    flex-direction: column;
  }
}
