.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  /* background-color: blue; */
  width: 100%;
  height: var(--header-height);
}

.participants-count {
  border: 1px solid #3b3b3b;
  border-radius: 22px;
  padding: 8px 16px 8px 12px;
  display: flex;
  align-items: center;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  gap: 0.5rem;
}

.meta {
  display: flex;
  align-items: center;
  gap: 10px;
}
.title {
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
}
.live-badge {
  display: flex;
  align-items: center;
  padding: 2px 4px;
  background: #ed4c5a;
  border-radius: 4px;
  font-weight: bold;
  font-size: 11px;
}
.time {
  font-size: 15px;
  line-height: 20px;
  color: #999a99;
}
.box {
  display: flex;
  align-items: center;
}

.exit-btn {
  color: white;
  padding: 8px;
  position: static;
  width: 40px;
  height: 40px;
  background: #323332;
  border-radius: 8px;
  transform: scaleX(-1);
  cursor: pointer;
}
