/**
 * Copyright 2020 Vercel Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.streamContainer {
  width: 100%;
  padding: 0;
  min-height: 400px;
  height: 100%;
}

.stream {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media screen and (min-width: 1032px) {
  .container {
    flex-direction: row;
  }

  .streamContainer {
    width: calc(100vw - 303px);
  }

  .streamYt {
    width: 100%;
  }
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: initial;
  margin: var(--space-4x);
  height: 215px;
}

.stageName {
  display: flex;
  font-size: 24px;
  color: #fff;
  line-height: 1.15;
  letter-spacing: -0.05em;
  font-weight: 800;
  margin-bottom: var(--space-2x);
}

.button {
  border-radius: var(--space-2x);
  border: none;
  color: #fff;
  background: #3362df;
  cursor: pointer;
  font-family: inherit;
  font-size: var(--text-md);
  letter-spacing: -0.02em;
  font-weight: 500;
  outline: none;
  transition: background-color 0.2s ease;
  padding: 0 var(--space-4x);
  height: 50px;
  width: 200px;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--space-4x);
}

.button:hover,
.button:focus {
  background: black;
  color: #fff;
}

.button > svg {
  margin-left: var(--space-2x);
  min-height: var(--space-8x);
  min-width: var(--space-8x);
}

.messageContainer {
  display: flex;
  flex-direction: column;
  align-items: initial;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: var(--space-4x);
}

@media screen and (min-width: 600px) {
  .bottom {
    align-items: center;
    flex-direction: row;
  }

  .button {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .messageContainer {
    flex-direction: row;
    align-items: center;
  }

  .stageName {
    font-size: var(--space-8x);
    margin-bottom: 0;
  }

  .bottom {
    height: 100px;
  }
}
