.video-list {
  /* background-color: green; */
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  place-content: center;
  align-items: center;
  height: calc(100vh - 3.2 * var(--header-height));
}

/* VideoTile */
.tile-container {
  position: relative;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
.tile-video {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  object-fit: cover;
  background-color: var(--gray1);
  border: 3px solid transparent;
}
.tile-audio-level {
  border: 3px solid #702ec2;
}
.tile-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}
.tile-info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 25px;
  right: 25px;
  background-color: var(--error);
  border-radius: 9999px;
  padding: 5px;
}
.tile-avatar {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-color: var(--error);
  border-radius: 9999px;
  width: 140px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: 600;
}
@media screen and (max-width: 600px) {
  .tile-avatar {
    width: 80px;
    height: 80px;
    font-size: 30px;
  }
}
.tile-name {
  z-index: 10;
  font-size: 15px;
  position: absolute;
  bottom: 25px;
  left: 25px;
}
.tile-container:hover .tile-menu-btn {
  top: 25px;
  right: 25px;
  display: flex;
  position: absolute;
}
.tile-menu-btn {
  display: none;
}
.tile-coachmark {
  position: absolute;
  right: 25px;
  top: 25px;
}

/* Menu */
.menu-btn {
  color: white;
  background-color: transparent;
  border: none;
}
.menu-content {
  width: 200px;
  background: #323332;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.menu-item {
  display: flex;
  align-items: center;
  font-size: 15px;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  color: white;
  margin: 5px 0;
}
.menu-item:focus {
  outline: none;
  background-color: var(--accents-6);
}
/* Pagination */
.pagin-ctx {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  bottom: -60px;
  left: 90%;
  z-index: 20;
  border: 1px solid #323232;
  padding: 5px 10px;
  border-radius: 18px;
}
.pagin-btn {
  cursor: pointer;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: var(--accents-4);
  border: none;
}
.pagin-active {
  background-color: white;
}

/* Screenshare */

.screenshare {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
  font-weight: 600;
  height: calc(100vh - 3.2 * var(--header-height));
}
.screenshare-btn {
  color: white;
  background-color: #e60000;
  padding: 0.8rem 1.2rem;
  border-radius: 10px;
  border: none;
  font-family: 'Inter';
  cursor: pointer;
}
.screenshare-btn:hover {
  opacity: 0.8;
}

.empty-room {
  height: calc(100vh - 3.2 * var(--header-height));
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-local {
  transform: scaleX(-1);
}
