.modal-head {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}

.modal-text {
  font-size: 15px;
  line-height: 20px;
  color: #999a99;
  margin-top: 2rem;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0;
  color: white;
  border-bottom: 1px solid #323232;
}

.box .name {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  margin: 10px 0;
}

.box .desc {
  font-size: 13px;
  line-height: 20px;
  color: #999a99;
}

.left {
  text-align: left;
  max-width: 420px;
}

.badge {
  padding: 4px 8px;
  text-align: center;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.speaker {
  border: 1px solid #e9a944;
}

.moderator {
  border: 1px solid #4e8ff7;
}

.guest {
  border: 1px solid #8465cb;
}

.viewer {
  border: 1px solid #8465cb;
}

.box button {
  font-family: Inter;
  color: white;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  padding: 10px 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.right {
  display: flex;
  align-items: center;
}

.join {
  background-color: #702ec2;
  margin-left: 1rem;
}

.invite {
  background: #323332;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

@media (max-width: 700px) {
  .box {
    flex-direction: column;
    min-width: 320px;
  }
  .right {
    margin-top: 1rem;
  }
}
