.viewer-container {
  text-align: center;
  font-family: Inter;
}

.header {
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  margin: 0;
}

.text {
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #999a99;
  margin-top: 10px;
  margin-bottom: 3rem;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.input {
  width: 333px;
  height: 44px;
  left: 0px;
  top: 0px;
  background: #444443;
  border-radius: 8px;
  border: none;
  padding: 12px;
  font-size: 15px;
  line-height: 20px;
  font-family: Inter;
  color: white;
  height: 44px;
}
.input::placeholder {
  color: white;
}

.btn {
  display: flex;
  align-items: center;
  color: white;
  margin-left: 1rem;
  background: #702ec2;
  border-radius: 8px;
  padding: 14px 16px;
  height: 44px;
  font-weight: 500;
  font-size: 15px;
  font-family: Inter;
  cursor: pointer;
}
