.preview-container {
  background: #212121;
  border-radius: 16px;
  padding: 2rem;
  display: flex;
}
.wrapper {
  width: 320px;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  justify-content: space-between;
}

.btn {
  background: #702ec2;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  font-weight: 500;
  font-size: 15px;
  color: #ffffff;
  gap: 0.5rem;
  cursor: pointer;
  font-family: Inter;
}

.input {
  background-color: var(--accents-6);
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  width: 200px;
  color: white;
  font-family: Inter;
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 1rem;
}

.head-text {
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  color: #ffffff;
  margin: 0;
}
.sub-text {
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #999a99;
  margin: 0;
}
.label {
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #999a99;
  margin-bottom: 1rem;
}
.video-loader {
  width: 290px;
  height: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 700px) {
  .preview-container {
    flex-direction: column;
  }
  .wrapper {
    margin-top: 1rem;
    margin-left: 0rem;
  }
}

.btn-wrapper {
  display: flex;
}

.back-btn {
  background: #444443;
  margin-right: 1rem;
}

.info {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #eaeae9;
  gap: 5px;
}
